.Pokemon-Details{
  float: left;
 background-image:url("images.jpg") ;
 background-size: 100%;
  background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    border: 5px solid #5975a0;
    border-radius: 25px;
    margin-top: 50px;
    padding: 30px;
    margin-left: -960px;
    font-family: cursive;
    color:white;

}

div.scroll {
    background-color: #b6c3d8;
    width: 800px;
    height: 100px;
    overflow: scroll;
}

.scroll-size{
 
    border: 5px solid #5975a0;
 background-color: #b6c3d8;
 border: 5px solid #5975a0;
    width: 800px;
    margin-top: 250px;    
   margin-left: 407px;
     height: 100PX;
    padding: 35px;
    font-family: cursive;
}


.description{
align-items: center;

}

hr{
color: #5975a0;

}

.radius{
border-radius: 12px;
}
.comment{
float: right;
 background-color: #b6c3d8;
 border: 5px solid #5975a0;

    width: 800px;
    margin-top: 25px;
     height: 100PX;
        padding: 35px;
margin-right: -282px;
    font-family: cursive;

}

.App {
  text-align:center;

}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  float: left;

}

.App-header {
  background-color: #5975a0;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Search{
margin-top: -30px;
float: right;
margin-right: 100px;
font-family: cursive;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


